
ul {
  list-style-type: none;
}

figure {
  margin: 0;
}

body {
  background-color: #F0F2ED;
}

/* ---- Header ---- */

.portfolio-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 280px;
  overflow: hidden;
  z-index: 999;
  background-color: #82B0AF;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 30px 0px;
  box-shadow: 0px 0px 1px 1px #eee;
  text-align: center;
  color: white;
  will-change: transform;
}

.portfolio-header.small {
  transform: translate(0px, -250px);
}

.portfolio-header figure img {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.portfolio-header.small figure img {
  transform: scale(.5) translate(0px, 390px);
}

.portfolio-header figure {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.portfolio-header .profile-initials {
  position: absolute;
  top: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  opacity: 0;
  background-color: #333;
  border-radius: 50%;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.portfolio-header.small .profile-initials {
  opacity: .5;
  transform: scale(.5) translate(0px, 386px);
}

.portfolio-header.small .profile-initials .portfolio-title-text {
  transform: scale(4);
}

.portfolio-header.small .profile-name {
  opacity: 0;
}

.portfolio-header.small .profile-location {
  opacity: 0;
}

.portfolio-header.small .profile-fields {
  opacity: 0;
}

.profile-name {
  margin: 10px 0px;
  color: rgba(255,255,255,1.0);
  font-family: 'Helvetica Neue';
  font-weight: 600;
}

.profile-fields {
  max-width: 320px;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  color: rgba(255,255,255,0.7);
}

.field-list{
  padding: 0;
}

.field-item {
  display: inline-block;
}

.field-item:after {
  content:',';
}
.field-item:last-child:after {
  content:'';
}

.profile-location {
  font-size: 14px;
  color: rgba(255,255,255,0.7);
}

.fi-marker:before {
  margin-right: 10px;
  font-size: 18px;
}

.profile-avatar img {
  border-radius: 50%;
}

/* ---- Portfolio Area ---- */

.content-area {
  padding-top: 340px;
  background-color: #F0F2ED;
}

.portfolio-area {
  margin: 0px auto;
  padding: 50px 0px;
  max-width: 1120px;
  width: 100%;
}
.portfolio-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column;
  position: relative;
  text-align: center;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 1120px;
  margin: auto;
  padding-left: 0;
}

.portfolio-item {
    margin-bottom: 30px;
    padding: 0px 15px;
    list-style-type: none;
    width: calc(33% - 27px);
}

.portfolio-title {
  cursor: pointer;
  position: absolute;
  top: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  opacity: 0;
  background-color: #333;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s ease;
}

.portfolio-title:hover {
  opacity: .9;
}

.portfolio-title-text {
  position: absolute;
  color: #fff;
  top: 45%;
  left: 0;
  width: 100%;
  text-align: center;
  font-weight: 600;
}

.portfolio-cover {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
  width: 100%;
  margin: 0;
}

.portfolio-image {
  max-width: 100%;
}

/* ---- Footer ---- */

.portfolio-footer {
    margin: 0px auto;
    text-align: center;
    width: 100%;
    background-color: #F0F2ED;
}

.power-by {
  padding: 10px 0px;
  font-size: 12px;
  color: black;
  text-transform: uppercase;
}

.power-logo {
  width: 36px;
  height: 36px;
  color: #1769ff;
  display: inline-block;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  text-indent: 100%;
  white-space: nowrap;
}

.power-logo:before {
  line-height: 38px;
  font-size: 36px;
  display: inline-block;
  height: 100%;
  left: 0;
  position: absolute;
  text-indent: 0;
  top: 0;
  width: 100%;
}

/* ---- Media Queries ---- */

@media (max-width: 900px) {
  .portfolio-item {
    margin-bottom: 30px;
    padding: 0px 5px;
    list-style-type: none;
    width: calc(50% - 10px);
  }
}